---
layout: default
title: Bard Lab
categories:
 - home
---

<div class="bigspacer"></div>
<div class="container">
    <!-- Row for the lab name -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-bard">Bard Lab</h1>
        </div>
    </div>
    <!-- Row for the main image -->
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- Added inline style for max-width -->
            <img class="img-fluid mx-auto d-block" style="max-width: 75%;" src="/images/misc/review_abstract_cell_cited.png" alt="diagram of stress granule formation in cells">
        </div>    
    </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<!-- describe the lab -->
<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
	<p>
		The Bard Lab in the <a href="https://www.bio.tamu.edu/">Department of Biology</a> at Texas A&M University
		studies the cellular response to stress, with a particular focus on stress-induced translational reprogramming 
		and biomolecular condensation during viral infection and in cancer. We take an integrative approach to address these questions, 
		combining biophysical, biochemical, and high-throughput tools to gain a 
		deep understanding of molecular mechanisms and functions.
	</p>
	<p>
		This website is still under construction, so stay tuned for more information!
	</p>
		</div>
	</div>
</div>


<!-- now show news, papers and blog posts-->
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/news/">News and Fun</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.news limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
		{% if post.author %}
			{% assign author = nil %}
			{% assign author = site.categories.team
								| where: "title", post.author
								| first %}
			{% if author %}
			by <a class="off" href="{{ author.url | strip | relative_url }}">
				{{ author.title }}
				</a>
			{% endif %}
		</a>
		{% endif %}
		{% if post.authors %}
		by
		<a class="off" href="
		{% for member in site.categories.team %}
			{% if member.title == post.authors.first %}
			{{ member.url }}
			{% endif %}
		{% endfor %}
		">
		{{ post.authors.first }}
		</a>
		and
		<a class="off" href="
		{% for member in site.categories.team %}
			{% if member.title == post.authors.last %}
			{{ member.url }}
			{% endif %}
		{% endfor %}
		">
		{{ post.authors.last }}
		</a>
		{% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>
  
  <div class="row">
	  <div class="col-lg-12">
		  <div class="head">
			  <a class="off" href="/papers/">Recent papers</a>
		  </div>
		  <div class="spacer"></div>
	  </div>
  </div>
  
  <div class="row">
	  {% for paper in site.categories.papers limit:4 %}
	  <div class="col-lg-3 reduced-gutter">
		  <div class="pad-left">
			  <div class="note">
				  <i class="fa fa-file-text-o fa-fw"></i>
				  <a class="off" href="{{ paper.url }}">
				  {{ paper.title }}
				  </a>
			  </div>
			  <div class="smallspacer"></div>
			  <div class="smallnote">
				  Posted
				  {{ paper.date | date: "%-d %b %Y" }}
			  </div>
			  <div class="bigspacer"></div>
		  </div>
	  </div>
	  {% endfor %}
  </div>
  
  <div class="spacer"></div>

  <div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/blog/">Recent blog posts</a>
		</div>
		<div class="spacer"></div>
	</div>
	</div>

  <div class="row">
	{% for post in site.categories.blog limit:4 %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
		{% if post.author %}
			{% assign author = nil %}
			{% assign author = site.categories.team
								| where: "title", post.author
								| first %}
			{% if author %}
			by <a class="off" href="{{ author.url | strip | relative_url }}">
				{{ author.title }}
				</a>
			{% endif %}
		</a>
		{% endif %}
		{% if post.authors %}
		by
		<a class="off" href="
		{% for member in site.categories.team %}
			{% if member.title == post.authors.first %}
			{{ member.url }}
			{% endif %}
		{% endfor %}
		">
		{{ post.authors.first }}
		</a>
		and
		<a class="off" href="
		{% for member in site.categories.team %}
			{% if member.title == post.authors.last %}
			{{ member.url }}
			{% endif %}
		{% endfor %}
		">
		{{ post.authors.last }}
		</a>
		{% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>
  
  
<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
			{{ homepage.content }}
		</div>
	</div>				
</div>


<div class="bigspacer"></div>
<div class="bigspacer"></div>
